.container {
    font-family: comic sans ms;
    display: grid;
    justify-content: center;
}

h2 {
background-color: #92C47C;
color: white;
}
.ol {
    color: orange;
}
input {
    border: 5px solid #92C47C;
}

.button {
    border: 5px solid #92C47C;
    color: #92C47C
}